@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100,300,200,500,600,700,800,900);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
html,
body {
    position: relative;
    width: 100%
}
body {
    background: #FBFBFB;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
.container {
    width: 905px;
    margin: 0 auto;
}
#footer {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    margin: 24px auto 0 auto;
    padding-bottom: 24px;
    padding-top: 30px
}
#footer .divider {
    border-top: 1px solid #ddd;
    padding-bottom: 24px
}
#footer p.copy {
    float: left
}
#footer ul {
    float: right
}
#footer li {
    display: inline-block;
    margin-left: 24px
}
#footer li:first-child {
    margin-left: 0
}
@media screen and (max-width: 920px) {
    .container {
        max-width: 472px;
        min-width: 300px;
        width: auto;
        padding: 0 17px
    }
    #footer .copy {
        margin-bottom: 16px
    }
    #footer .copy,
    #footer ul {
        width: 100%;
        text-align: center
    }
    #footer ul li {
        margin-top: 4px;
        margin-left: 4px
    }
}
html.home_index,
body.home_index {
    height: 100%
}
body.home_index #footer {
    margin-top: 0
}
.clear {
    clear: both
}
a {
    color: inherit
}
a.button {
    width: 164px;
    background: #322e37;
    border-radius: 8px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}
a.button.download .apple,
a.button.download .download {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px
}
a.button.download .apple {
    font-size: 22px;
    margin-right: 6px;
    margin-top: -2px
}
a.button.download .download {
    letter-spacing: 0.8px
}
#header {
    margin-bottom: 48px;
    padding-top: 24px
}
#header h1 {
    font-family: "Work Sans";
    font-size: 26px;
    font-weight: 600;
    color: #322e37;
    float: left
}
#header h1 img {
    width: 44px;
    display: inline;
    border-radius: 11px;
    vertical-align: middle;
    margin-right: 12px
}
#header a.button {
    float: right;
    margin-top: 4px
}
#header .divider {
    border-top: 1px solid #ddd;
    margin-top: 24px
}
body.home_jobs .job-links a:hover {
    text-decoration: underline
}
body.home_jobs .divider {
    border-top: 1px solid #ddd;
    margin: 24px 0
}
body.home_jobs .job {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd
}
body.home_jobs .job h3 {
    font-weight: 300;
    font-size: 18px;
    color: #000;
    margin-bottom: 24px;
    margin: 18px 0 4px
}
body.home_jobs .job ul li {
    margin-bottom: 8px;
    color: #949494;
    font-size: 16px;
    font-weight: 300
}
body.home_jobs .job ul li span.disc {
    display: inline-block;
    background: #AA79DB;
    border-radius: 50%;
    margin: 0 8px 4px 0;
    width: 6px;
    height: 6px
}
body.home_jobs .job a.button {
    position: absolute;
    width: 100px;
    top: -5px;
    right: 0
}
body.home_jobs .job:last-child {
    border-bottom: none;
    padding-bottom: 0
}
#main {
    margin-bottom: 48px
}
#main h1 {
    font-weight: 300;
    font-size: 42px;
    color: #000;
    margin-bottom: 24px
}
#main h2 {
    font-weight: 300;
    font-size: 22px;
    color: #000;
    margin-bottom: 24px
}
#main p {
    color: #949494;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px
}
#main .content h3 {
    font-size: 22px;
    font-weight: 300;
    margin: 24px 0;
    line-height: 33px
}
#main .content h4 {
    font-size: 18px;
    font-weight: 300;
    margin: 24px 0 0;
    line-height: 26px
}
#main .content ul li {
    list-style-position: inside;
    list-style-type: circle;
    color: #949494;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px
}

.center {
  position: absolute;
  left: 50%;
  right: 50%
}

#container {
    /* padding-top: 50px; */
    text-align: center;
}

.circle {
    border-radius: 50%;
}

a, figure {
    display: inline-block;
}
figcaption {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-weight: 300;
    line-height: 32px;
}
figure {
    padding: 5px;
}
img:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
img {
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}

.no-zoom{
        transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}
#left,
#right {
    position: relative;
    height: 100%;
    width: 50%;
    overflow: hidden
}
#left {
    float: right;
}
.text-center {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;       /* the same as your div height */
    font-size: 50px;
}
#left #iphone {
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto
}
#right {
    float: left
}
#right .content {
    width: 410px;
    padding: 10px;
    height: 338px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto
}
#right #logo {
    width: 96px;
    border-radius: 20px;
    vertical-align: middle;
    margin-right: 24px
}
#right h1 {
    font-family: "Work Sans";
    font-size: 45px;
    font-weight: 600;
    color: #322e37;
    margin-bottom: 40px
}
#right a.button {
    width: 240px;
    height: 56px;
    line-height: 56px;
    font-size: 14px
}
#right a.button.watch {
    width: auto;
    background: none;
    color: #AA79DB;
    margin-left: 40px
}
#right p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    width: 330px
}
#right hr {
    border-top: 1px solid #ddd;
    width: 75%;
    margin: 40px 0
}
.modal {
    display: none;
    z-index: 9999;
    background: #fff;
    position: fixed;
    right: auto;
    bottom: auto;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%
}
.modal .modal-close {
    top: 20px;
    left: 20px;
    width: 44px;
    height: 44px;
    position: absolute;
    z-index: 9999;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: none;
    border: 0
}
.modal .modal-content {
    margin-left: -424px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 848px;
    height: 100%;
    z-index: 1
}
.modal .video-container {
    margin-top: -28.30189%;
    padding-bottom: 56.25%;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1
}
@media screen and (max-width: 848px) {
    .modal .modal-content {
        left: 0;
        margin-left: 0;
        width: 100%
    }
}
@media screen and (max-width: 768px) {
    body.home_jobs .job a.button {
        position: relative;
        width: 100%;
        margin-bottom: 24px
    }
    #left,
    #right {
        height: auto;
        width: 100%;
        float: none;
        display: block;
        padding: 64px 0
    }
    #left {
        height: 125%
    }
    #right {
        padding-top: 10px;
        padding-bottom: 10px
    }
    #right .content {
        position: relative;
        width: 100%;
        height: auto;
        padding: 10px 20px
    }
    #right .content p {
        width: 100%
    }
    #right hr {
        width: 100%
    }
    #right a.button {
        width: 100% !important;
        margin-left: 0 !important
    }
}
@media screen and (max-width: 330px) {
    #header .button.download {
        width: 180px
    }
    #header .button.download .download {
        letter-spacing: 0.1px
    }
}
body.items #profile #top {
    padding: 34px 0;
    text-align: center
}
body.items #profile #top #picture {
    width: 100px;
    height: 100px;
    background: #000;
    border-radius: 100px;
    margin: 0 auto 20px;
    background-size: cover;
    background-position: center
}
body.items #profile #top h2 {
    font-size: 16px;
    color: #4A4A4A;
    letter-spacing: 0.08px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 3px
}
body.items #profile #top h3 {
    font-weight: 400;
    font-size: 16px;
    color: #9B9B9B;
    letter-spacing: 0.1px;
    line-height: 18px;
    margin-bottom: 9px
}
body.items #profile #items {
    width: 905px;
    margin: 0 auto;
    font-size: 0;
    text-align: center
}
body.items #profile #items li.item {
    display: inline-block;
    width: 445px;
    height: 314px;
    margin-right: 15px;
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    position: relative;
    text-align: left;
    vertical-align: top
}
body.items #profile #items li.item a {
    width: 100%;
    height: 100%
}
body.items #profile #items li.item .price {
    width: auto;
    padding: 0 20px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 0;
    border-radius: 3px 0 0 3px;
    background: #AA79DB;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 50px;
    text-align: center;
    z-index: 1;
    font-weight: 500
}
body.items #profile #items li.item .picture {
    height: 233px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #D6D6D6;
    background-size: cover;
    border-radius: 12px 12px 0 0;
    background-position: center;
    background-repeat: no-repeat
}
body.items #profile #items li.item .avatar {
    width: 44px;
    height: 44px;
    background: #000;
    border-radius: 44px;
    float: left;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 20px;
    top: 10px
}
body.items #profile #items li.item .details {
    height: 80px;
    width: 100%;
    padding: 10px 20px 0 84px;
    position: relative
}
body.items #profile #items li.item .details h4 {
    font-size: 18px;
    color: #4A4A4A;
    letter-spacing: 0.11px;
    line-height: 22px;
    font-weight: 400
}
body.items #profile #items li.item .details p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    color: #808080;
    letter-spacing: 0.67px;
    line-height: 22px
}
body.items #profile #items li.item:nth-of-type(even) {
    margin-right: 0
}
#detail {
    background: #FBFBFB
}
#detail #item {
    position: relative;
    height: 450px;
    background: #fff;
    border: 1px solid #D6D6D6;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    margin: 15px auto;
    overflow: hidden
}
#detail #item .price {
    width: auto;
    padding: 0 20px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 0;
    border-radius: 3px 0 0 3px;
    background: #AA79DB;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 50px;
    text-align: center;
    z-index: 1;
    font-weight: 500
}
#detail #item .picture {
    float: left;
    width: 410px;
    height: 410px;
    background-size: cover;
    background-color: #000;
    background-position: center
}
#detail #item .pictures {
    width: 410px;
    height: 410px;
    overflow: hidden;
    float: left;
    position: relative
}
#detail #item #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none
}
#detail #item #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 300px
}
#detail #item a.control_prev,
#detail #item a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: none;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer
}
#detail #item a.control_prev:hover,
#detail #item a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease
}
#detail #item a.control_prev {
    border-radius: 0 2px 2px 0
}
#detail #item a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px
}
#detail #item .share {
    text-align: center;
    margin: 20px 0
}
#detail #item .share li {
    display: inline-block;
    font-size: 20px;
    margin: 0 6px
}
#detail #item .share li a {
    color: #C5C5C5
}
#detail #item .meta {
    float: left;
    width: 410px;
    height: 100%;
    padding-top: 20px;
    padding-left: 40px;
    overflow: auto
}
#detail #item .meta h4 {
    font-size: 18px;
    color: #4A4A4A;
    letter-spacing: 0.11px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 18px;
    padding-right: 75px
}
#detail #item .meta p {
    font-size: 18px;
    color: #808080;
    letter-spacing: 0.67px;
    line-height: 22px;
    margin-bottom: 20px
}
#detail #item .meta a.button {
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #AA79DB;
    border: 1px solid #914AD9;
    box-shadow: inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    color: #fff
}
#detail #item .meta .user .avatar {
    width: 44px;
    height: 44px;
    background-size: cover;
    background-position: center;
    border-radius: 44px;
    float: left;
    margin-right: 14px
}
#detail #item .meta .user h2 {
    font-size: 18px;
    color: #4A4A4A;
    letter-spacing: 0.12px;
    line-height: 21px;
    font-weight: 400
}
#detail #item .meta .user h3 {
    font-size: 18px;
    color: #9B9B9B;
    letter-spacing: 0.12px;
    line-height: 21px;
    font-weight: 400
}
    #footer {
        bottom: 0;
        padding-top: 20%;
        position: relative;
    }

/*@media screen and (max-width: 920px) {*/
    /*body.items #profile #items {*/
        /*width: 100%*/
    /*}*/
    /*body.items #profile #items li.item {*/
        /*width: 100%;*/
        /*margin-right: 0*/
    /*}*/
    /*body.items #detail {*/
        /*height: initial*/
    /*}*/
    /*body.items #detail #item {*/
        /*height: auto;*/
        /*position: relative*/
    /*}*/
    /*body.items #detail #item .picture,*/
    /*body.items #detail #item .pictures {*/
        /*float: none;*/
        /*width: 100%*/
    /*}*/
    /*body.items #detail #item .meta {*/
        /*float: none;*/
        /*width: 100%;*/
        /*padding-left: 0*/
    /*}*/
    /*body.items #detail #item .meta h4 {*/
        /*padding-right: 0*/
    /*}*/
/*}*/